/* ---- Intro START ---- */

#intro {
    background-image: url(assets/background/forest_background.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}

#intro h1 {
    font-size: 5.15vw;
    text-align: center;
    margin: 0;
    white-space: nowrap;
}

#intro p {
    font-size: 1.93vw;
    text-align: center;
    margin: 0;
    white-space: nowrap;
}

#intro-content {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
    #intro h1 {
        font-size: 9.34vw;
    }
    
    #intro p {
        font-size: 2.70vw;
    }
}

/* ---- Intro END ---- */

/* ---- About Me START ---- */

#about-me {
    background-color: #000002;
    width: 100%;
    height: 100px;
}

/* ---- About Me END ---- */

/* ---- Font Presets START ---- */

.azeret-mono-default {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.azeret-mono-medium {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.azeret-mono-bold-semi {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.azeret-mono-bold {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.azeret-mono-bold-extra {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.azeret-mono-black {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.white-text-drop-shadow {
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* ---- Font Presets END ---- */

body {
    margin: 0;
}